$lightblue: #38AEF0;
$white: #FFFFFF;
$navy: #253141;
$bluegray: #2f3e51;
$whitegray: #eeeeee;
$black: #333333;
$blackgray: #434A54;
$lightgray: #B8C3C7;
$alert_orange: #F35500;

$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$border_light_gray: #eeeeee;
$light_blue: #38AEF0;
$light_gray: #999;
$gray: #434a54;
$footer_light_gray: #B8C3C7;
