.chat
  .header
    .left-header
      .left-header__title
        sampleグループ
      .left-header__members
        .member
          MEMBER:
          %i user01

    .right-header
      = link_to '/groups/1/edit', class: 'right-header__button' do
        edit

  .messages
    .message
      .upper-message
        .upper-message__user-name
          test
        .upper-message__date
          2018/12/20 20:10:00
      .lower-message
        .lower-message__content
          Hello!

  .form
    %input.form__message{ placeholder: 'type a message', type: 'text', name: 'message[body]',id: 'message_body' }
    %label.form__mask{for: "message_image"}
      .form__mask__image{type: "file", name: "message[image]", id: 'message_image'}
        = fa_icon "picture-o"
      %input.hidden
    %input.form__submit{ type: 'submit', name: 'commit', value: "Send"}
